.left{
    width: 60%;
    padding: 10px 5%;
    background: rgb(145,4,4);
background: linear-gradient(270deg, rgba(145,4,4,1) 36%, rgba(60,3,3,1) 83%);
}

.left-title-container{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    padding-top: 0px;
    
}

.left-title{
    /* color: rgb(255, 230, 0); */
    font-size: 50px;
    margin-top: 5px;
    margin-left: 190px;
    font-family: 'MoireBold';
    font-weight: 600;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(180deg, rgb(168, 183, 5) 70%, rgb(7, 7, 9) 80%);
    text-shadow: inset 60px 9px 15px #141313, -1px 1px 0 #fffbfb,; 
  
}
.left-num {
    font-size: 50px;
    margin-top: 5px;
    margin-left: -163px;
    font-family: 'MoireBold';
    text-shadow: inset 5px 5px 5px #141313;
    font-weight: 600;
    color:white;
}
.right-num {
    font-size: 50px;
    margin-top: 5px;
    margin-left: -3px;
    font-family: 'MoireBold';
    text-shadow:inset 10px 8px 10px #141313;
    font-weight: 600;
    color:white;
    display: inline;
}

.type{
    background-color: rgb(216, 216, 216);
    
    border-radius: 10px;
    font-size: 33px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    background-image: url('../Keno/evens.png');
    opacity: 0.8;
    width: 150px;
    background-position: center;
    background-size: cover;
    height: 45px;
}
.type-bottom{
    background-color: rgb(216, 216, 216);
    padding: 3px 30px;
    border-radius: 10px;
    font-size: 33px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.keno{
    /* color: hsla(0, 96%, 51%, 0.259); */
    
    margin-top: 1px;
    /* color: rgb(247,13,6); */
    height: 45px;
    margin-left: 190px;
    background-image: url('../Keno/keno.png');
    opacity: 0.4;
    width: 150px;
    background-position: center;
    background-size: 100% 100%;
}

.right{
    width: 40%;
    text-align: center;
    padding-top: 20px;
    background: rgb(94, 1, 1);
    background: linear-gradient(-180deg, rgb(66, 2, 2) 42%, rgba(14,1,1,1) 83%);
    
}

/* .number{
    
    
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #ff0000;
    justify-content: center;
    
} */
.number {
    width: 63px;
    height: 66px;
    border-radius: 16px; 
    display: flex;
    align-items: center;
    font-size: 40px;
    justify-content: center;
    color: #c30303;
    font-weight: 800;
    background-image: url('../Keno/num4.png');
    opacity: 0.6;
    font-family: 'Eurostile-Roman';
  }
.checked-number{
    width: 63px;
    height: 66px;
    /* background-color: rgb(255, 230, 0); */
    border-radius: 18px;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: #000000;
    justify-content: center;
    font-weight: bold;
    background-position: center;
    background-size: cover;
    background-image: url('../Keno/number-selected-yellow-bg.png');
    font-family: 'MoireBoldS';
}

.time{
    margin-top: 10px;
    font-size: 90px;
    justify-content: center;
    font-weight: 1000;
    /* text-shadow: 5px 5px 10px #0f0e0e; */
    margin-left: -60px;
    font-family: 'MoireBold';

}
.draw {
    /* text-shadow: 10px 8px 10px #141313; */
    font-size: 50px; 
    font-weight: 900;
    margin-left: -30px;
    font-family: 'MoireBold'; 
}
.draw2 {
    /* text-shadow: 10px 8px 10px #141313; */
    font-size: 50px; 
       
    font-family: 'MoireBold';
    font-weight: bolder;
}
.pick{
    color: #ba0707;
    font-size: 60px;
    font-weight: normal;
    margin-left: -60px;
    font-family: 'GoodTimesRegular';
}

.flex{
    display: flex;
    text-align: start;
    width: 60%;
    margin: 10px auto;
    
}

.hits-title{
    color: rgb(232, 209, 7);
    margin-right: 60px;
    font-size: 40px;
    font-weight: bold;
}
.hits-content{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 1.4;
}


.numbers{
    display: flex;
    /* justify-content: space-between;  */
    /* width: 80%; */
    margin-left:190px;
    margin-top: 3px;
    gap: 3px;

    
}